<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.AccountSettleDetailMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.AccountSettleDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="settle_date" jdbcType="VARCHAR" property="settleDate" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="payer_account" jdbcType="VARCHAR" property="payerAccount" />
    <result column="mer_no" jdbcType="VARCHAR" property="merNo" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="show_payer_acct_no" jdbcType="VARCHAR" property="showPayerAcctNo" />
    <result column="show_payer_name" jdbcType="VARCHAR" property="showPayerName" />
    <result column="payee_acct_no" jdbcType="VARCHAR" property="payeeAcctNo" />
    <result column="payee_name" jdbcType="VARCHAR" property="payeeName" />
    <result column="payee_opbk" jdbcType="VARCHAR" property="payeeOpbk" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="extend_1" jdbcType="VARCHAR" property="extend1" />
    <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
    <result column="handle_status" jdbcType="VARCHAR" property="handleStatus" />
    <result column="provision_flag" jdbcType="VARCHAR" property="provisionFlag" />
    <result column="trans_status" jdbcType="VARCHAR" property="transStatus" />
    <result column="trans_desc" jdbcType="VARCHAR" property="transDesc" />
    <result column="channel_key" jdbcType="VARCHAR" property="channelKey" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>