<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.IndustryAccountInfoMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.IndustryAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="industry_type" jdbcType="VARCHAR" property="industryType" />
  </resultMap>
</mapper>