<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.MerchantBatchRecordMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.MerchantBatchRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_code" jdbcType="VARCHAR" property="channelCode" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_resp_code" jdbcType="VARCHAR" property="channelRespCode" />
    <result column="channel_resp_id" jdbcType="VARCHAR" property="channelRespId" />
    <result column="channel_resp_msg" jdbcType="VARCHAR" property="channelRespMsg" />
    <result column="channel_resp_time" jdbcType="VARCHAR" property="channelRespTime" />
    <result column="client_trans_id" jdbcType="VARCHAR" property="clientTransId" />
    <result column="server_batch_no" jdbcType="VARCHAR" property="serverBatchNo" />
    <result column="server_trans_id" jdbcType="VARCHAR" property="serverTransId" />
    <result column="trans_date" jdbcType="VARCHAR" property="transDate" />
    <result column="cn_tr_batch" jdbcType="VARCHAR" property="cnTrBatch" />
    <result column="batch_status" jdbcType="VARCHAR" property="batchStatus" />
    <result column="trans_time" jdbcType="VARCHAR" property="transTime" />
    <result column="mer_no" jdbcType="VARCHAR" property="merNo" />
    <result column="acc_no" jdbcType="VARCHAR" property="accNo" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="count" jdbcType="BIGINT" property="count" />
    <result column="sum_amount" jdbcType="BIGINT" property="sumAmount" />
  </resultMap>
</mapper>