<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.TransOrderRelationMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.TransOrderRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_trans_id" jdbcType="VARCHAR" property="clientTransId" />
    <result column="server_trans_id" jdbcType="VARCHAR" property="serverTransId" />
    <result column="outside_trans_order_id" jdbcType="BIGINT" property="outsideTransOrderId" />
    <result column="trans_order_id" jdbcType="VARCHAR" property="transOrderId" />
    <result column="trans_amount" jdbcType="BIGINT" property="transAmount" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>