<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.UploadSubAccountSettleSplitDetailMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.UploadSubAccountSettleSplitDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="seq_no" jdbcType="INTEGER" property="seqNo" />
    <result column="settle_date" jdbcType="VARCHAR" property="settleDate" />
    <result column="client_trans_id" jdbcType="VARCHAR" property="clientTransId" />
    <result column="sub_account" jdbcType="VARCHAR" property="subAccount" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="settle_mode" jdbcType="VARCHAR" property="settleMode" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="split_date" jdbcType="VARCHAR" property="splitDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="trans_order_ids" jdbcType="VARCHAR" property="transOrderIds" />
    <result column="extend_2" jdbcType="VARCHAR" property="extend2" />
    <result column="extend_3" jdbcType="VARCHAR" property="extend3" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="trans_date" jdbcType="VARCHAR" property="transDate" />
    <result column="trans_time" jdbcType="VARCHAR" property="transTime" />
    <result column="server_trans_id" jdbcType="VARCHAR" property="serverTransId" />
    <result column="trans_status" jdbcType="VARCHAR" property="transStatus" />
    <result column="query_times" jdbcType="INTEGER" property="queryTimes" />
    <result column="trans_desc" jdbcType="VARCHAR" property="transDesc" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="reconcile_date" jdbcType="VARCHAR" property="reconcileDate" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>