<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kingnet.utp.service.persistence.mapper.WhiteListMapper">
  <resultMap id="BaseResultMap" type="cn.kingnet.utp.service.persistence.entity.WhiteList">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mer_name" jdbcType="VARCHAR" property="merName" />
    <result column="mer_abb" jdbcType="VARCHAR" property="merAbb" />
    <result column="industry_code" jdbcType="VARCHAR" property="industryCode" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="user_create" jdbcType="VARCHAR" property="userCreate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_modified" jdbcType="VARCHAR" property="userModified" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>