/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.class
*.iws
*.iml
*.ipr
/logs/

/data/
/deploy/utp-manage-api/
/deploy/backup/**
/deploy/logs/**

/utp-manage-api/target/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
